@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div>
        <h1 class="offcanvas-header">Welcome This is my Portfolio</h1>

        <p class="offcanvas-body" style="background-image:radial-gradient(circle at 10% 20%, rgba(12, 12, 12, 0.8) 0.1%, rgb(10, 0, 58) 99.8%); ">Hi,Im Kooshan Kalhor and this is my portfolio</p>

        <p class="text-end" style="background-image:radial-gradient(circle at 10% 20%, rgb(44, 0, 12) 0.1%, rgba(12, 12, 12,0.8) 99.8%)" ;>I'm a starter in programing and develpment. I also have some experiance in ai/ml although a little bit.</p>

        <p style="background-image:radial-gradient(circle at 10% 20%, rgb(12, 12, 12,0.8) 0.1%, rgb(1,134,3) 99.8%);">
            I mainly work with C# and Im also familiar with Microsoft Sql Server and Entity Framework(Mainly for ASP.NET).
            Iam also familiar with ASP.Net as you can see this portfolio is based on it.
        </p>


        <p style="background-image:radial-gradient(circle at 10% 20%, rgb(42, 12, 12) 0.1%, rgb(12, 12, 12,0.8) 99.8%);">
            You can checkout my sample projects(in github mostly) on the next page by using the navigation
            bar at top or <a class="nav-item" asp-controller="Home" asp-action="Samples">Click Here</a>.
        </p>
    </div>
</body>
