@{
    ViewData["Title"] = "Project Samples";
}
<h1>@ViewData["Title"]</h1>

<p1 class="text-center">EmployeeMan Web Asp.net version: <a class="button" href="https://github.com/KLorK-Tec/EmployeeManWebAsp">Checkout</a>.</p1>
<p1 class="text-center">EmployeeMan WinForms version: <a class="button">Checkout</a>.</p1>
<p1 class="text-center">Python samples: <a class="button" href="https://github.com/KLorK-Tec/Python_and_sql_and_algos">Checkout</a>.</p1>
<p1 class="text-center">C# samples: <a class="button" href="https://github.com/KLorK-Tec/VCCODE">Checkout</a>.</p1>
