@{
    ViewData["Title"] = "Project Samples";
}
<h1>@ViewData["Title"]</h1>

<p1>EmployeeMan Web Asp.net version: <a href="#">checkout</a>.</p1>
<p1>EmployeeMan WinForms version: <a href="#">checkout</a>.</p1>
<p1>Python samples: <a href="#">checkout</a>.</p1>
<p1>C# samples: <a href="#">checkout</a>.</p1>
