html {
  font-size: 14px;
}

@media (min-width: 768px) {
    
  html {
      max-width:stretch;
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: radial-gradient(rgb(0 0 0));
}

p
{
    font-size: 24px;
    font-weight: 600;
    padding-bottom:125px;
    padding-top:125px;
    color: white;
}


.container{
    max-width:max-content;
    margin-bottom:0;
}

p1 {
    font-weight:600;
    font-size: 24px;
    display:inline-block;
    border: 5px solid rgba(28,110,164,0.46);
    border-radius: 40px 40px 40px 40px;
    padding:0 200px;
    padding-left:2em;
    border
}

